# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log

# Ignore coverage directory used by tools like istanbul
coverage

# Ignore .env file containing sensitive information
.env

# Ignore IDE-specific files and directories
.idea
.vscode

# Ignore macOS metadata files
.DS_Store

# Ignore npm-debug.log files
npm-debug.log*

# Ignore yarn-error.log files
yarn-error.log

# Ignore test and coverage directories
test/
spec/